<% content_for :js do %>
  <%= javascript_include_tag "http://www.google.com/jsapi?key=#{ CFG['api']['google'] }" %>
  <script>
    fillWithFeedEntries('#feed_entries', 'streik OR warnstreik -griechenland -frankreich')
  </script>
<% end %>

<%= link_to 'Streik melden' %>

<table class="w100 top_aligned" id="feed_entries">
</table>
