<% content_for :js do %>
  <%= javascript_include_tag "http://www.google.com/jsapi?key=#{ CFG['api']['google'] }" %>
  <script>
    fillWithFeedEntries('#feed_entries', 'streik OR warnstreik -griechenland -frankreich')
  </script>
<% end %>

<table class="w100 top_aligned" id="feed_entries">
</table>


<% content_for :js do %>
  <script>
    withFB(function(login){
      $('#testid').html(login.uid)
    })
  </script>
<% end %>

<div id="testid"></div>
